name: Release Coraza WASM for Otoroshi

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Tag version to use for this release (e.g. v1.2.3)"
        required: true
        type: string

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.5"

      - name: Make script executable
        run: chmod +x ./build.sh

      - name: Set up Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run release script
        env:
          GIT_AUTHOR_NAME: github-actions
          GIT_AUTHOR_EMAIL: github-actions@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: github-actions@users.noreply.github.com
        run: |
          ./build.sh "${{ inputs.version }}"
      - name: Release binary and SHA-256 checksum to GitHub
        uses: softprops/action-gh-release@v1
        with:
          name: coraza-wasm-${{ inputs.version }}
          tag_name: ${{ inputs.version }}
          files: |
            ./coraza.wasm
            ./coraza.wasm.sha256